/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* ~~~~~~~~~~~~~~~Your code starts here!~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container{
	margin:20px 40px 40px 40px;
}
body{
	margin: auto;
	scroll-padding-bottom: 6px;
}
/*~~~~~~~~~~~~~~~NAVIGATION STYLES BY LALA~~~~~~~~~~~~~~~~~~*/	

a{
	text-align: left;
	padding: 4%;
	text-decoration: none;
	font-style: bold;
	color: lightgrey;
}
nav{
	background-image:linear-gradient(0.25turn, rgb(28, 124, 165), #EBF8E1, #F69D3C); ;
	background-color: rgb(192, 157, 221);
	display: inline-block;
	font-size: 20px;
	padding:20px;
	position: fixed;
	top: 0%;
	width:100%;
}
.nav a{
	
	text-decoration: none;
	font-family: 'Bellota';
	line-height: 2.5em;
	padding-right: 2.8em;
	
}
nav a:before{
	content: '';
	position: relative;
	top: 0;
	left:40px;

}
nav a:hover:before{
	content: '*';
	color: rgb(252, 161, 58);
	position: relative;
	top: 0%;
	left: 0;
}
nav a:after{
	content:'';
	color:hotpink;
	position: relative;
	top: 0;
	right: 40px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Logo Display~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.logo{
	float: right;
}
#iod-img{
	position: relative;
	right:0;
	text-align: center;
	z-index: -100;
}
.iod{
	padding: 100px 10px;
}
#iod-txt, #iod-img{
	display: inline-block;
	vertical-align: middle;
	width: 48%;
}
#iod-txt{
	font-size: 3.5em;
	text-align: center;
}
#iod button{
	background: none;
	border:1px solid;
	height:50px;
	width:200px;
}
#iod-img img{
	height: 40%;
	width: 350px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~CONTENT~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ 
.top-content {
	display: inline-block;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	padding: 50px 0;
}
.top-content p{
	font-family: 'Belloti';
}
.top-content h2 {
	color: black;
}
.middle-img {
	width: 100%;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 3%;
}
#features, #about {
	display: inline-block;
	margin: 0 20px 50px 0;
	box-sizing: border-box;
	width:45%;
}
#services, #product, #vision {
	display: inline-block;
	margin: 50px 20px 0 0;
	width: 30%;
	
}
/*~~~~~~~~~~~~~~~~~~~~~~~FOOTER CSS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.contact {
	padding:50px 0;
}
.contact p{
	font-family: 'fantasy';
}
.footer-content	{
	font-family: fantasy;
	text-align: center;
}